{% extends "admin/layout.html" %}

{% block content %}
    <div>
        <h2>Quản lý đơn hàng</h2>
        <form action="/TrangSanPham/Search" method="get">
            <div style="margin-left:200px">
                <input name="searchQuery" class="form-control" type="text" placeholder="Tìm kiếm..." aria-label="Search" aria-describedby="basic-addon2" />
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </form>
    </div>
    <table class="table table-bordered" id="tableSP">
        <tr>
            <th>Mã đơn hàng</th>
            <th>Khách hàng</th>
            <th>Ngày đặt</th>
            <th>Địa chỉ</th>
            <th>Tổng tiền</th>
            <th>Trạng thái</th>
            <th>Hành động</th>
        </tr>
        <!-- Vòng lặp Python để hiển thị dữ liệu -->
        {% for item in orders %}
        <tr>
            <td>{{ item.ID }}</td>
            <td>{{ item.Hoten }}</td>
            <td>{{ item.ngaydat }}</td>
            <td>{{ item.diachi }}</td>
            <td>{{ '{:,.0f}'.format(item.tongtien) }} VNĐ</td>
            <td>
                {% if item.trangthai == 0 %}
                    đã đặt
                {% elif item.trangthai == 1 %}
                    đã hoàn thành
                {% else %}
                    huỷ đơn
                {% endif %}
            </td>
            <td><a style="height:40px;width:100px" class="btn btn-xs btn-info " href="/admin/orders/{{ item.ID }}">Chi tiết</a></td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}

