<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Chat</title>
</head>
<body>
    <ul id="messages"></ul>
    <form id="form" action="">
        <input id="input" autocomplete="off" /><button>Send</button>
    </form>
    {% if g.dn == 0 %}
        <input id="ri" type="hidden" value="room1">
    {% else %}
        <input id="ri" type="hidden" value="{{session['name']}}">
    {% endif %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        
        var username = document.getElementById('ri');

        // Emit a 'join' event with the username
        socket.emit('join', {'username': username});

        // Event listener for incoming messages
        socket.on('message', function(data) {
            var ul = document.getElementById('messages');
            var li = document.createElement('li');
            li.appendChild(document.createTextNode(`${data.username}: ${data.message}`));
            ul.appendChild(li);
        });

        // Event listener for form submission
        document.getElementById('form').onsubmit = function() {
            var input = document.getElementById('input');
            // Emit a 'message' event with the sender, receiver, and message
            socket.emit('message', {'sender': 'Admin', 'receiver': username, 'message': input.value});
            input.value = '';
            return false;
        };

    </script>
</body>
</html>
